.fn-btn {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid #393636;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.9) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	background-blend-mode: hue;
	box-shadow: 0px 0px 7px 0px #fff inset;
	margin-left: auto;
	overflow: hidden;
	position: relative;
	span {
		color: #fff;
		text-align: center;
		font-family: Poppins;
		font-size: 14px;
		font-weight: 700;
		line-height: 15px; /* 107.143% */
		text-transform: uppercase;
		position: relative;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(
			--button,
			linear-gradient(180deg, #e42299 0%, #750a35 66.47%, #a62159 100%)
		);
		box-shadow: 2px -3px 2px -1px #938de1 inset,
			-2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
		opacity: 0;
		transition: all ease-in-out 0.3s;
	}
	&:hover {
		&::before {
			opacity: 1;
		}
	}
	&.primary {
		border: 1px solid #575757;
		background: var(
			--button,
			linear-gradient(180deg, #e42299 0%, #750a35 66.47%, #a62159 100%)
		);
		box-shadow: 2px -3px 2px -1px #938de1 inset,
			-2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
		&::before {
			background: linear-gradient(
				180deg,
				#4ba41a 0%,
				#013f13 66.47%,
				#1d803a 100%
			);
			/* button effect */
			box-shadow: 1px -3px 1px -2.28866px #b2b2b2 inset,
				0px 1px 2px 0px #fff inset, 1px 6px 4px -2px #000,
				0px 2px 0px 0px #6d5962;
		}
	}
}
