.fn-sign-in {
	.modal-body {
		padding: 40px 35px !important;

		.group {
			margin-bottom: 17px;
		}

		.form-control {
			border-radius: 3px;
			border: 0.5px solid #9e9e9e;
			background: #1b172f;
			color: #fff;
			padding: 7px 20px;

			&::placeholder {
				color: #9e9e9e;
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 500;
				text-transform: capitalize;
			}

			&:focus {
				background: #1b172f;
				box-shadow: none;
				border: 0.5px solid #9e9e9e;
			}
		}

		.form-label {
			color: #9e9e9e;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			text-transform: capitalize;
		}

		.no-br {
			border-right: none;

			&:focus {
				border: 0.5px solid #9e9e9e;
				border-right: none;
			}
		}

		.input-group-text {
			background: #1b172f;
			border: 0.5px solid #9e9e9e;
			border-left: none;

			border-radius: 3px;
			color: #9e9e9e;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			text-transform: capitalize;

			&.pwd-icon {
				cursor: pointer;
				img {
					transition: all ease-in-out 0.3s;
					&:hover {
						opacity: 0.5;
					}
				}
			}
		}

		.forgot-password {
			color: #f5f5f5;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			text-transform: capitalize;
			text-align: right;
			margin: 10px 0;
			cursor: pointer;
			transition: all ease-in-out 0.3s;

			&:hover {
				color: #9e9e9e;
			}
		}

		.code-capcha {
			width: 100px;
			height: 100%;
			background: #fff;
			cursor: default;
		}

		.capcha {
			padding-right: 7px;
		}

		.btn-wrapper {
			margin-top: 30px;
			margin-bottom: 10px;
		}

		.sign-in-subtext {
			color: #9e9e9e;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			text-transform: capitalize;
			margin-top: 20px;

			.subtext-highlight {
				color: #e22197;
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 700;
				text-transform: capitalize;
				cursor: pointer;
				transition: all ease-in-out 0.3s;
				margin-left: 20px;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}
