.fn-language {
	display: inline-flex;
	align-items: center;
	background-color: transparent;
	border: 0;
	padding: 0;
	outline: 0;
	@media (max-width: 767px) {
		display: none;
	}
	img {
		height: 17px;
	}
	span {
		color: #fff;
		text-align: center;
		font-family: Poppins;
		font-size: 14px;
		font-weight: 500;
		line-height: 15px; /* 107.143% */
		text-transform: uppercase;
		margin-right: 4px;
		@media (max-width: 767px) {
			display: none;
		}
	}
}
