.fn-connect-wallet {
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #575757;
	background: var(
		--button,
		linear-gradient(180deg, #e42299 0%, #750a35 66.47%, #a62159 100%)
	);
	background-blend-mode: hue;
	box-shadow: 2px -3px 2px -1px #938de1 inset,
		-2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
	margin-left: auto;
	width: 126px;
	height: 23px;
	padding: 4px 28px;
	overflow: hidden;
	position: relative;
	margin-right: 36px;
	@media (max-width: 767px) {
		margin-right: 5px;
		width: 121px;
		height: 26px;
	}
	span {
		color: #fff;
		text-align: center;
		font-family: Montserrat;
		font-size: 11px;
		font-style: normal;
		font-weight: 700;
		line-height: 15px; /* 136.364% */
		text-transform: uppercase;
		position: relative;
		@media (max-width: 767px) {
			font-size: 11.075px;
			line-height: 11.866px; /* 107.143% */
		}
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			180deg,
			#cc65ff 0%,
			#6500e8 66.47%,
			#ab00ff 100%
		);

		/* button effect */
		box-shadow: 1px -3px 1px -2.28866px #b2b2b2 inset,
			0px 1px 2px 0px #fff inset, 1px 6px 4px -2px #000, 0px 2px 0px 0px #6d5962;
		opacity: 0;
		transition: all ease-in-out 0.3s;
	}
	&:hover {
		&::before {
			opacity: 1;
		}
	}
}
