.fn-claim-reward {
	background-color: #1b0a30;
	padding-top: 59px;
	@media (max-width: 767px) {
		padding-top: 80px;
	}

	.fn-claim-reward-tabs {
		position: relative;
		border: 0;
		margin-bottom: 18px;
		display: flex;
		column-gap: 60px;
		@media (max-width: 767px) {
			gap: 0;
			.nav-item {
				flex: 1;
			}
		}
		.nav-link {
			border: 0;
			padding: 23px 11px 17px 11px;
			color: #9e9e9e;
			font-family: Montserrat;
			font-size: 20px;
			font-weight: 500;
			line-height: 14px; /* 70% */
			border-bottom: 4px solid transparent;
			transition: all ease-in-out 0.3s;
			border-radius: 0;
			background-color: transparent !important;
			@media (max-width: 767px) {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px;
				font-size: 11px;
				line-height: 14px; /* 127.273% */
				height: 26px;
				border-bottom-width: 1px;
				white-space: nowrap;
				color: #fff;
				width: 100%;
				border-radius: 3px 3px 0 0;
				&.active {
					background-color: #291a3a !important;
				}
			}
			&.active {
				color: #fff;
				font-weight: 700;
				border-color: #e22197;
			}
		}
	}
	.tab-content {
		position: relative;
		padding-bottom: 39px;
	}

	.earn-card {
		border-radius: 6px;
		// overflow: hidden;

		&__header {
			padding: 31px 29.75px 56px 30.28px;
			position: relative;
			height: 194px;
			border-radius: 6px 6px 0 0;

			&.winning {
				background: linear-gradient(90deg, #9b1258 35.78%, #d92090 69.53%);
			}

			&.commission {
				background: linear-gradient(90deg, #5fc52e 35.78%, #6eee87 69.53%);
			}

			.header__img {
				position: absolute;

				@media (max-width: 1199px) {
					width: auto;
			}

					@media (max-width: 575px) {
						width: 40%;
				}

				&.winning {
					top: 35px;
					right: 29.26px;

					@media (max-width: 575px) {
						top: 20%;
						right:1%;
					}
				}

				&.commision {
					top: 18px;
					right: 35px;

					@media (max-width: 575px) {
						top: 15%;
						right: 3%;
					}
				}
			}

			.header-text {
				display: flex;
				flex-direction: column;
				gap: 20px;

				h1 {
					color: #fff;
					font-family: Montserrat;
					font-size: 20px;
					font-weight: 700;

					@media (max-width: 575px) {
						font-size: 16px;
					}
				}

				span {
					color: #fff;
					font-family: Montserrat;
					font-size: 30px;
					font-weight: 700;

					@media (max-width: 575px) {
						font-size: 26px;
					}
				}
			}
		}

		&__content {
			.content__header {
				background: #1b172f;
				display: flex;
				padding: 6px 15px 6px 30.47px;
				justify-content: space-between;

				.header__title {
					color: #fff;
					font-family: Montserrat;
					font-size: 20px;
					font-weight: 700;
					text-transform: uppercase;
					margin: 0;

					@media (max-width: 768px) {
						font-size: 13px;
					}
				}

				.fn-claim-with {
					display: flex;
					align-items: center;
					.dropdown-toggle {
						background: #17181b;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 0;
						border: none;

						&:after {
							display: none;
						}
						&.show {
							.arrow {
								transform: rotate(90deg);
							}
						}
						.token {
							height: 21px;
							margin-right: 4px;
						}
						span {
							color: #fff;
							font-family: Montserrat;
							font-size: 13px;
							font-weight: 700;
							line-height: 14px; /* 107.692% */
							text-transform: capitalize;
						}

						.balance {
							display: flex;
							flex-direction: column;
							margin-left: auto;

							span {
								color: #fff;
								font-family: Montserrat;
								font-size: 14px;
								font-weight: 500;
								line-height: 15px; /* 107.143% */
								text-transform: capitalize;
							}
							small {
								display: block;
								color: #9e9e9e;
								font-family: Montserrat;
								font-size: 13px;
								font-weight: 500;
								line-height: 15px; /* 115.385% */
								text-transform: capitalize;
								text-align: right;
							}
							b {
								color: #fff;
								font-family: Montserrat;
								font-size: 13px;
								font-weight: 500;
								line-height: 15px; /* 115.385% */
								display: block;
								text-align: right;
							}
						}

						.arrow {
							transition: all ease-in-out 0.3s;
							transform-origin: center;
							// margin-left: 20px;
						}
					}

					.dropdown-menu {
						padding: 14px !important;
						width: auto;
						background: #17191b;
						margin-top: 5px;

						@media (max-width: 768px) {
							height: 180px;
							max-height: 180px;
							overflow-y: scroll !important;
						}

						.fn-token-item {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							column-gap: 12px;
							padding: 0;
							color: #fff;
							font-family: Montserrat;
							font-size: 15px;
							font-weight: 700;
							line-height: 14px; /* 93.333% */
							text-transform: capitalize;
							position: relative;
							background-color: transparent !important;
							padding: 10px 18px 10px 8px;
							margin-bottom: 5px;
							border-radius: 3px;
							&::before {
								content: '';
								position: absolute;
								opacity: 0;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								border-radius: 3px;
								border: 1px solid #e22197;
								transition: all ease-in-out 0.3s;
							}
							&.active,
							&:hover {
								background-color: rgba($color: #fff, $alpha: 0.05) !important;
							}

							&:last-child {
								margin-bottom: 0;
							}
							.icon {
								width: 30px;
							}

							.balance {
								margin-left: auto;
							}
						}
					}
				}
				.header__claim {
					display: flex;
					align-items: center;
					gap: 10px;
					cursor: pointer;
					transition: all 0.3s ease-out;

					&:hover {
						opacity: 0.8;
					}

					.claim__text {
						color: #e22197;
						font-family: Montserrat;
						font-size: 13px;
						font-weight: 500;
						text-transform: capitalize;
						margin: 0;

						@media (max-width: 768px) {
							font-size: 13px;
						}
					}
				}
			}

			.content-winning {
				background: #291a3a;
				padding: 32px 29.35px 24px 30.47px;

				.winning__reward {
					color: #fff;
					text-align: center;
					font-family: Montserrat;
					font-size: 30px;
					font-weight: 700;
					margin-bottom: 27px;
				}

				.buy {
					// margin-left: 16px;
					margin-bottom: 14px;
					color: #fff;
					text-align: center;
					font-family: Montserrat;
					font-size: 13px;
					font-weight: 700;
					line-height: 15px; /* 115.385% */
					text-transform: uppercase;
					border-radius: 6px;
					background: conic-gradient(
						from 0deg at 50% 50%,
						#e22197 0deg,
						#9b1258 360deg
					);
					width: 100%;
					max-width: 100%;
					height: 49px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					padding: 0;
					border: 0;
					position: relative;
					overflow: hidden;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 6px;
						background: conic-gradient(
							from 0deg at 50% 50%,
							#e22197 0deg,
							#9b1258 360deg
						);
						transition: all ease-in-out 0.3s;
						transform: rotate(-180deg);
						opacity: 0;
					}
					span {
						position: relative;
					}
					&:hover {
						&::before {
							opacity: 1;
						}
					}

					@media (max-width: 992px) {
						width: 100%;
						height: 72px;
						padding-top: 15px !important;
						padding-bottom: 15px !important;
						font-size: 15px;
					}

					@media (max-width: 768px) {
						height: 50%;
					}
				}
			}
		}
	}

	.history {
		border-radius: 6px;
		border: 1px solid #7c7c7c;
		background: #17191b;
		padding: 36.5px 27px 41px 28px;
		min-height: 500px;

		.history__btn {
			color: #fff;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 700;
			line-height: 15px; /* 100% */
			text-transform: uppercase;

			display: flex;
			justify-content: center;
			align-items: center;

			padding: 10px 20px;
			border-radius: 6px;
			border: 1px solid #7c7c7c;
			background: transparent;
			transition: all ease-in-out 0.3s;
			margin-bottom: 27px;

			&:hover {
				background: #7c7c7c;
			}
		}

		table {
			// border-collapse: separate;
			border-radius: 6px;
			margin-bottom: 4px;

			&.table-row-spacing {
				tr {
					margin: 7px 0;
				}

				td {
					padding: 10px 0;
				}
			}

			> :not(caption) > * > * {
				background-color: transparent;
			}
			thead {
				tr {
					th {
						height: 37px;
						padding: 0 15px;
						vertical-align: middle;
						color: #fff;
						text-align: center;
						font-family: Montserrat;
						font-size: 13px;
						font-weight: 700;
						line-height: 15px; /* 115.385% */
						text-transform: capitalize;
						&:last-child {
							padding-right: 29px;
						}
					}
				}
			}
			tbody {
				padding: 10px 0 !important;

				tr {
					border-radius: 3px;
					border: 3px solid;

					&:last-child {
						td {
							border: 0;
						}
					}
					td {
						border: 0;
						padding: 12px 15px;
						vertical-align: middle;
						color: #fff;
						text-align: center;
						font-family: Montserrat;
						font-size: 13px;
						font-weight: 700;
						line-height: 15px; /* 115.385% */
						text-transform: capitalize;
						background: #2d3035;
						&:last-child {
							padding-right: 29px;
						}

						@media (max-width: 768px) {
							font-size: 13px;
						}

						&.status {
							color: #ffc700;
							text-align: center;
							font-family: Montserrat;
							font-size: 13px;
							font-style: normal;
							font-weight: 500;
							text-transform: capitalize !important;

							@media (max-width: 768px) {
								font-size: 10px;
							}
						}

						&.comment {
							color: #e22197;
							font-family: Montserrat;
							font-size: 13px;
							font-weight: 700;
							text-transform: capitalize;

							@media (max-width: 768px) {
								font-size: 10px;
							}
						}
					}
				}
			}
		}
		.fn-pagination {
			margin-bottom: 8px;
			margin-right: 29px;
			margin-top: 190px;
		}
	}
}
