.fn-modal {
	.modal-body {
		padding: 40px 35px !important;

		.form-control {
			border-radius: 3px;
			border: 0.5px solid #9e9e9e;
			background: #1b172f;
			color: #fff !important;
			padding: 7px 20px;

			&::placeholder {
				color: #9e9e9e !important;
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 500;
				text-transform: capitalize;
			}

			&:focus {
				background: #1b172f;
				box-shadow: none;
				border: 0.5px solid #9e9e9e;
			}
		}

		.form-label {
			color: #9e9e9e;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			text-transform: capitalize;
		}

		.no-bl {
			border-right: none !important;

			&:focus {
				border: 0.5px solid #9e9e9e;
			}
		}

		.input-group-text {
			background: #1b172f;
			border: 0.5px solid #9e9e9e;
			border-left: none;

			border-radius: 3px;
			color: #9e9e9e;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			text-transform: capitalize;

			&.pwd-icon {
				cursor: pointer;
				img {
					transition: all ease-in-out 0.3s;
					&:hover {
						opacity: 0.5;
					}
				}
			}
		}

		.form-check {
			display: flex;
			align-items: center;
			gap: 10px;
			margin: 14px 0;

			&-input {
				cursor: pointer;
				background-color: transparent;
				border-color: #e22197 !important;
				box-shadow: none !important;

				&:checked[type='checkbox'] {
					--bs-form-check-bg-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
				}

				&:checked {
					background-color: transparent;
				}
			}

			&-label {
				color: #9e9e9e;
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 500;
				line-height: 18px;
				text-transform: capitalize;
				width: 90%;
			}
		}

		.risk-wrapper {
			display: flex;
			gap: 7px;
			align-items: center;

			.risk {
				border-radius: 3px;
				flex: 1;
				height: 7px;
				flex-shrink: 0;
				background: #9e9e9e;

				&-red {
					background: #ff004f;
				}
			}

			.risk-text {
				color: #ff004f;
				font-family: Montserrat;
				font-size: 15px;
				font-style: normal;
				font-weight: 500;
				text-transform: capitalize;
				white-space: nowrap;
				margin: 0;
			}
		}

		.sign-up-subtext {
			color: #9e9e9e;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			text-transform: capitalize;
			margin-top: 20px;

			.subtext-highlight {
				color: #e22197;
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 700;
				text-transform: capitalize;
				cursor: pointer;
				transition: all ease-in-out 0.3s;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}
