.fn-modal-affiliate {
	.modal-body {
		padding: 0 16px 52px;
		.section-title {
			border-radius: 3px;
			background-color: #291a3a;
			display: inline-flex;
			width: 88px;
			height: 29px;
			padding: 20px 17px;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-family: Montserrat;
			font-size: 11px;
			font-weight: 700;
			line-height: 22.063px; /* 200.573% */
			margin-bottom: 6px;
		}
	}
}
