.fn-banner {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: top center;
	position: relative;

	@media (max-width: 1199px) {
		min-height: fit-content;
	}

	@media (max-width: 991px) {
		padding-top: 40px;
	}

	&-buy {
		position: absolute;
		cursor: pointer;
		text-decoration: none;
		left: 50%;
		transform: translateX(-50%);
		top: 53.7%;
		display: flex;
		width: 224px;
		height: 56px;
		padding: 10px 64.082px 0px 64.082px;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		background: linear-gradient(
			180deg,
			#e42299 0%,
			#750a35 66.47%,
			#a62159 100%
		);
		box-shadow: 1px -3px 1px -2.28866px #4aa41a inset,
			0px 1px 2px 0px #fff inset, 1px 6px 4px -2px #000, 0px 2px 0px 0px #6d5962;
		img {
			height: 30px;
			position: relative;
		}
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 15px;
			background: linear-gradient(
				180deg,
				#cc65ff 0%,
				#6500e8 66.47%,
				#ab00ff 100%
			);

			/* button effect */
			box-shadow: 1px -3px 1px -2.28866px #b2b2b2 inset,
				0px 1px 2px 0px #fff inset, 1px 6px 4px -2px #000,
				0px 2px 0px 0px #6d5962;
			/* button effect */
			box-shadow: 1px -3px 1px -2.28866px #b2b2b2 inset,
				0px 1px 2px 0px #fff inset, 1px 6px 4px -2px #000,
				0px 2px 0px 0px #6d5962;
			opacity: 0;
			transition: all ease-in-out 0.3s;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
		}

		@media (max-width: 1199px) {
			top: 53%;
			width: 180px;

			img {
				height: 24px;
			}
		}

		@media (max-width: 991px) {
			top: 57%;
			width: 160px;
			height: 43px;

			img {
				height: 20px;
			}
		}

		@media (max-width: 575px) {
			width: 80px !important;
			height: 24px;
			padding: 0;
			border-radius: 10px;
			top: 59%;
			img {
				height: 10px;
			}
		}
	}
	&-box {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		@media (max-width: 1199px) {
			top: 70%;
		}
	}
	&-tickets {
		position: relative;
		padding: 9px 40px 6px 39px;
		border-radius: 10px;
		display: flex;
		justify-content: space-between;

		@media (max-width: 769px) {
			display: none;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			background: #d9d9d9;
			mix-blend-mode: multiply;
		}
	}

	&-tickets-mobile {
		width: 100%;
		margin: 0 auto;
		display: none;

		@media (max-width: 769px) {
			display: block;
		}

		.swiper,
		.swiper-container {
			@media (max-width: 567px) {
				.swiper-slide {
					width: 168px !important;
					height: 100px !important;

					img {
						width: 168px !important;
						height: 100px !important;
					}
				}
			}

			.swiper-slide {
				filter: blur(4px) !important;
				opacity: 0.5 !important;
				width: fit-content;
				transform: translate3d(0px, -20px, -100.192px) rotateX(0deg)
					rotateY(0deg) scale(0.8) !important;
				.swiper-slide-shadow-left,
				.swiper-slide-shadow-right {
					opacity: 0.6;
					background: transparent;
				}
				.swiper-slide-prev,
				.swiper-slide-next {
					background: transparent;
					// margin-bottom: 10px !important;
					opacity: 0.1 !important;
				}
			}

			.swiper-slide-prev {
				transform: translate3d(35px, -20px, -100.192px) rotateX(0deg)
					rotateY(0deg) scale(0.8) !important;
			}
			.swiper-slide-next {
				transform: translate3d(-35px, -20px, -100.192px) rotateX(0deg)
					rotateY(0deg) scale(0.7) !important;
			}

			.swiper-slide-active {
				filter: none !important;
				opacity: 1 !important;
				transform: translate3d(0px, 0px, -100.192px) rotateX(0deg) rotateY(0deg)
					scale(1) !important;
			}
		}
	}
	.sub-menu {
		position: absolute;
		top: 96px;
		left: 0;
		width: 100%;
		text-align: right;

		@media (max-width: 991px) {
			top: 60px;
		}

		button {
			margin-left: 20px;
			border: 0;
			background-color: transparent;
			padding: 0;
			color: #fff;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			line-height: 15px; /* 100% */
			text-transform: capitalize;
			transition: all ease-in-out 0.3s;
			&:hover {
				color: #f4cb65;
			}

			@media (max-width: 991px) {
				font-size: 13px;
			}
			@media (max-width: 575px) {
				font-size: 11px;
				margin-left: 14px;
			}
		}
	}
}
