.fn-banner {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: top center;
	position: relative;

	@media (max-width: 1199px) {
		min-height: fit-content;
	}

	@media (max-width: 991px) {
		padding-top: 40px;
	}

	&-buy {
		position: absolute;
		cursor: pointer;
		text-decoration: none;
		left: 50%;
		transform: translateX(-50%);
		top: 60.7%;
		display: flex;
		width: 224px;
		height: 56px;
		padding: 4px 64.082px 0px 64.082px;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		background: linear-gradient(
			180deg,
			#e42299 0%,
			#750a35 66.47%,
			#a62159 100%
		);
		box-shadow: 1px -3px 1px -2.28866px #4aa41a inset,
			0px 1px 2px 0px #fff inset, 1px 6px 4px -2px #000, 0px 2px 0px 0px #6d5962;
		img {
			height: 30px;
			position: relative;
		}
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 15px;
			background: linear-gradient(
				180deg,
				#cc65ff 0%,
				#6500e8 66.47%,
				#ab00ff 100%
			);

			/* button effect */
			box-shadow: 1px -3px 1px -2.28866px #b2b2b2 inset,
				0px 1px 2px 0px #fff inset, 1px 6px 4px -2px #000,
				0px 2px 0px 0px #6d5962;
			/* button effect */
			box-shadow: 1px -3px 1px -2.28866px #b2b2b2 inset,
				0px 1px 2px 0px #fff inset, 1px 6px 4px -2px #000,
				0px 2px 0px 0px #6d5962;
			opacity: 0;
			transition: all ease-in-out 0.3s;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
		}

		@media (max-width: 1199px) {
			top: 62%;
			width: 35%;
			height: 7%;

			img {
				height: 50%;
			}
		}

		@media (max-width: 575px) {
			top: 69%;

			img {
				height: 53%;
			}
		}
	}
	.countdown-mobile {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 60.7%;
		display: flex;
		flex-direction: column;
		gap: 5px;

		label {
			color: #fff;
			text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.92);
			font-family: Montserrat;
			font-size: 10px;
			font-weight: 500;
			text-transform: capitalize;
			text-align: center;
		}

		span {
			color: #fff;
			text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.92);
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 700;
			text-transform: lowercase;
			text-align: center;
		}
	}

	&-box {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		@media (max-width: 1199px) {
			top: 70%;
		}
		@media (max-width: 575px) {
			top: 80%;
		}
	}
	&-tickets {
		position: relative;
		padding: 9px 40px 6px 39px;
		border-radius: 10px;
		display: flex;
		justify-content: space-between;

		@media (max-width: 1024px) {
			display: none;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			background: #d9d9d9;
			mix-blend-mode: multiply;
		}
	}

	&-tickets-mobile {
		width: 100%;
		margin: 0 auto;
		display: none;

		@media (max-width: 1024px) {
			display: block;
		}

		.swiper,
		.swiper-container {
			@media (max-width: 567px) {
				.swiper-slide {
					width: 168px;
					height: 100px;

					img {
						width: 168px;
						height: 120px;
					}
				}
			}

			.swiper-slide {
				filter: blur(2px) !important;
				width: fit-content;
				color: #fff;

				p {
					color: #fff;
					font-family: Montserrat;
					font-size: 11px;
					font-weight: 500;
					text-transform: capitalize;
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 200px;
					margin: 0;

					@media (max-width: 1024px) {
						font-size: 13px;
						transform: translate(-37.5%, -100%);
					}

					@media (max-width: 991px) {
						transform: translate(-26%, -100%);
					}

					@media (max-width: 575px) {
						transform: translate(-16%, 30%) !important;
						font-size: 11px !important;
					}
				}
				transform: translate3d(0px, -20px, -100.192px) rotateX(0deg)
					rotateY(0deg) scale(0.8) !important;
				.swiper-slide-shadow-left,
				.swiper-slide-shadow-right {
					opacity: 0.6;
					background: transparent;
				}
				.swiper-slide-prev,
				.swiper-slide-next {
					background: transparent;
					// margin-bottom: 10px !important;
					opacity: 0.1 !important;
				}
			}

			.swiper-slide-prev {
				transform: translate3d(60px, -5px, -100.192px) rotateX(0deg)
					rotateY(0deg) scale(0.8) !important;

				@media (max-width: 768px) {
					transform: translate3d(30px, -5px, -100.192px) rotateX(0deg)
						rotateY(0deg) scale(0.8) !important;
				}

				@media (max-width: 575px) {
					transform: translate3d(5px, -10px, -100.192px) rotateX(0deg)
						rotateY(0deg) scale(0.8) !important;
				}
			}
			.swiper-slide-next {
				transform: translate3d(-68px, -10px, -100.192px) rotateX(0deg)
					rotateY(0deg) scale(0.8) !important;

				@media (max-width: 768px) {
					transform: translate3d(-25px, -10px, -100.192px) rotateX(0deg)
						rotateY(0deg) scale(0.8) !important;
				}

				@media (max-width: 575px) {
					transform: translate3d(0, -10px, -100.192px) rotateX(0deg)
						rotateY(0deg) scale(0.8) !important;
				}
			}

			.swiper-slide-active {
				filter: none !important;
				transform: translate3d(0px, 0px, -100.192px) rotateX(0deg) rotateY(0deg)
					scale(1) !important;
			}
		}
	}
	.sub-menu {
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		text-align: right;

		@media (max-width: 991px) {
			top: 60px;
		}

		button {
			margin-left: 20px;
			border: 0;
			background-color: transparent;
			padding: 0;
			color: #fff;
			font-family: Montserrat;
			font-size: 15px;
			font-weight: 500;
			line-height: 15px; /* 100% */
			text-transform: capitalize;
			transition: all ease-in-out 0.3s;
			&:hover {
				color: #f4cb65;
			}

			@media (max-width: 991px) {
				font-size: 13px;
			}
			@media (max-width: 575px) {
				font-size: 11px;
				margin-left: 14px;
			}
		}

		.slogan {
			color: #fff;
			text-align: left;
			font-family: Montserrat;
			font-size: 28px;
			font-style: normal;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			margin: 0;

			@media (max-width: 575px) {
				font-size: 20px;
				margin-top: 20px;
			}

			span {
				font-size: 22px;
				@media (max-width: 575px) {
					font-size: 16px;
				}

				strong {
					font-size: 20px;
					color: #df678b;

					@media (max-width: 575px) {
						font-size: 18px;
					}
				}
			}
		}
	}
}
