.fn-copyright {
    position: relative;
	border-top: 1px rgba($color: #fff, $alpha: 0.1) solid;
	padding: 18px 0 38px;
	color: rgba($color: #fff, $alpha: 0.8);
	font-family: Poppins;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px; /* 150% */
    text-align: center;
}
