.fn-info {
	position: relative;
	margin-bottom: 22px;
	.logo {
		height: 35px;
		margin-top: 48px;
		margin-bottom: 53px;
	}
	p {
		color: #e6e8ec;
		font-family: Montserrat;
		font-size: 13px;
		font-style: italic;
		font-weight: 500;
		line-height: 24px; /* 184.615% */
		margin-bottom: 21.1px;
	}
	.socials {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 48px;
		column-gap: 20px;
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 32.78px;
			height: 32.78px;
			border-radius: 9999px;
			background: #e22197;
			text-decoration: none;
		}
	}
	.line {
		height: 100%;
		width: 1px;
		opacity: 0.1;
		background: #05e8ff;
		margin-left: auto;
		margin-right: auto;
	}
	h4 {
		margin-top: 47px;
		color: #05e8ff;
		font-family: Montserrat;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px; /* 150% */
		text-transform: uppercase;
		margin-bottom: 21px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			&:not(:last-child){
				margin-bottom: 21px;
			}
			a {
				color: #9e9e9e;
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 500;
				line-height: 24px; /* 160% */
				text-transform: capitalize;
				text-decoration: none;
				transition: all ease-in-out 0.3s;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}
