.fn-withdraw {
	.form-label {
		color: #fff;
		font-family: Montserrat;
		font-size: 15px;
		font-weight: 500;
		text-transform: capitalize;
		display: flex;
		align-items: center;
		gap: 5px;

		img {
			width: 15px;
			height: 15px;
			min-width: 15px;
			min-height: 15px;
		}

		p {
			margin: 0;
		}
		span {
			color: #ff0000;
		}
	}

	.amount-text {
		justify-content: space-between;
	}

	.form-control,
	.input-group-text {
		background: #1e2125;
		border: 1px solid #9e9e9e;
	}

	.form-control {
		&:focus {
			background: #1e2125;
		}
	}

	.input-group-text {
		color: #fff;
		background: transparent;
		border: 1px solid #9e9e9e;
		border-left: none;
	}

	.dropdown-wrapper {
		display: flex;
		justify-content: center;
		gap: 30px;
		margin-top: 18px;
		margin-bottom: 30px;

		.fn-withdraw-currency {
			margin-left: 0;
			.dropdown-toggle {
				border-radius: 3px;
				background: rgba(23, 25, 27, 0.5);
				box-shadow: 0px 0px 3px 0px #9e9e9e;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 130px;
				height: 40px;
				padding: 0 20px;
				&:after {
					display: none;
				}
				&.show {
					.arrow {
						transform: rotate(90deg);
					}
				}
				.token {
					height: 21px;
					margin-right: 4px;
				}
				span {
					color: #fff;
					font-family: Montserrat;
					font-size: 13px;
					font-weight: 700;
					line-height: 14px; /* 107.692% */
					text-transform: capitalize;
				}
				.arrow {
					transition: all ease-in-out 0.3s;
					transform-origin: center;
					margin-left: auto;
				}
			}

			.dropdown-menu {
				padding: 14px;
				min-width: 130px;
				margin-top: 5px;
				background: #17191b;
				.fn-token-item {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					column-gap: 12px;
					padding: 0;
					color: #fff;
					font-family: Montserrat;
					font-size: 15px;
					font-weight: 700;
					line-height: 14px; /* 93.333% */
					text-transform: capitalize;
					position: relative;
					background-color: transparent !important;
					padding: 10px 18px 10px 8px;
					margin-bottom: 5px;
					border-radius: 3px;
					&::before {
						content: '';
						position: absolute;
						opacity: 0;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 3px;
						border: 1px solid #e22197;
						transition: all ease-in-out 0.3s;
					}
					&.active,
					&:hover {
						background-color: rgba($color: #fff, $alpha: 0.05) !important;
					}
					// &.active {
					// 	&::before {
					// 		opacity: 1;
					// 	}
					// }
					&:last-child {
						margin-bottom: 0;
					}
					.icon {
						width: 30px;
					}
					.balance {
						margin-left: auto;
					}
				}
			}
		}
		.fn-withdraw-network {
			margin-left: 0;
			.dropdown-toggle {
				border-radius: 3px;
				background: rgba(23, 25, 27, 0.5) !important;
				box-shadow: 0px 0px 3px 0px #9e9e9e;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 130px;
				height: 40px;
				padding: 0 20px !important;
				&:after {
					display: none;
				}
				&.show {
					.arrow {
						transform: rotate(90deg);
					}
				}
				.token {
					height: 21px;
					margin-right: 4px;
				}
				span {
					color: #fff;
					font-family: Montserrat;
					font-size: 13px;
					font-weight: 700;
					line-height: 14px; /* 107.692% */
					text-transform: capitalize;
				}
				.arrow {
					transition: all ease-in-out 0.3s;
					transform-origin: center;
					margin-left: auto;
				}
			}

			.dropdown-menu {
				padding: 17px 10px 20px 10px;
				min-width: 130px;
				margin-top: 5px;

				background: #17191b;

				.fn-token-item {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					column-gap: 12px;
					padding: 0;
					color: #fff;
					font-family: Montserrat;
					font-size: 15px;
					font-weight: 700;
					line-height: 14px; /* 93.333% */
					text-transform: capitalize;
					position: relative;
					background-color: transparent !important;
					padding: 10px 18px 10px 8px;
					margin-bottom: 5px;
					border-radius: 3px;
					&::before {
						content: '';
						position: absolute;
						opacity: 0;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 3px;
						border: 1px solid #e22197;
						transition: all ease-in-out 0.3s;
					}
					&.active,
					&:hover {
						background-color: rgba($color: #fff, $alpha: 0.05) !important;
					}
					// &.active {
					// 	&::before {
					// 		opacity: 1;
					// 	}
					// }
					&:last-child {
						margin-bottom: 0;
					}
					.icon {
						width: 30px;
					}
					.balance {
						margin-left: auto;
					}
				}
			}
		}
	}

	.input-wrapper {
		padding: 0 34px;
		margin-bottom: 24px;
		display: flex;
		flex-direction: column;
		gap: 18px;

		.form-control {
			color: #fff;
		}
	}

	.fn-deposit-footer {
		padding: 45px 187px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #1e2125;
	}
}
