.fn-networks {
	position: relative;
	margin-bottom: 7px;
	@media (max-width: 767px) {
		margin-bottom: 14px;
	}
	&-title {
		color: #fff;
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 700;
		line-height: 72px; /* 300% */
		text-transform: uppercase;
		margin-bottom: 10px;
		@media (max-width: 767px) {
			font-size: 13px;
			line-height: 42.978px; /* 330.598% */
			margin-bottom: 6px;
		}
	}
	&-list {
		width: 100%;
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 130px;
		margin-right: 130px;
		@media (max-width: 1399px) {
			margin: 0 10px;
		}
		a {
			display: inline-flex;
			width: 46px;
			height: 46px;
			text-decoration: none;
			overflow: hidden;
			@media (max-width: 767px) {
				width: 27.5px;
				height: 27.5px;
			}
			img {
				max-width: 100%;
				max-height: 100%;
				object-fit: contain;
			}
		}
	}
}
