@import 'styles/variables.scss';
@import '~bootstrap/scss/bootstrap';
body {
	overflow-x: hidden;
	background-color: #1b0a30;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 19px;
		left: 50px;
		width: calc(100% - 100px);
		height: calc(100% - 38px);
		border-radius: 1px 0px 0px 0px;
		border: 49px solid #000;
		filter: blur(73.5px);
	}
}
.fn-pagination {
	margin-bottom: 0;
	justify-content: flex-end;
	gap: 4px;
	.page-item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		&.prev,
		&.next {
			.page-link {
				color: #291a3a;
				background-color: #9e9e9e;
			}
		}
		&.active {
			.page-link {
				background-color: #2d3035;
			}
		}
		.page-link {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: #f5f5f5;
			font-family: Montserrat;
			font-size: 13px;
			font-weight: 500;
			line-height: 15px; /* 115.385% */
			letter-spacing: 3.64px;
			text-transform: capitalize;
			padding: 0;
			width: 24px;
			height: 24px;
			border-radius: 3px;
			border: 0;
			background-color: transparent;
		}
	}
}
.fn-modal {
	.modal-content {
		background-color: #1e2125;
		border-radius: 0;
		@media (max-width: 575px) {
			animation: modal-display 0.5s cubic-bezier(0, 0.2, 0.8, 1) forwards !important;

			@keyframes modal-display {
				0% {
					left: 100%;
				}
				25% {
					left: 75%;
				}
				50% {
					left: 50%;
				}
				75% {
					left: 25%;
				}
				100% {
					left: 0;
				}
			}
		}

		.modal-header {
			padding: 12px 21px 21px;
			background-color: #1a1c1f;
			border: 0;
			.modal-title {
				color: #fff;
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 700;
				line-height: 15px; /* 100% */
				text-transform: capitalize;
				margin-bottom: 0;
			}
			.btn-close {
				outline: 0;
				box-shadow: none;
				filter: invert(1);
				background-size: 10px 10px;
				background-position: center;
				transition: all ease-in-out 0.3s;
			}
		}
		.modal-body {
			padding: 20px;
		}
	}
}

.fn-toast {
	width: auto;
	.Toastify__toast {
		padding: 0;
		background-color: transparent;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			width: 100%;
			height: 5px;
		}
		&.Toastify__toast--success {
			&::before {
				background: linear-gradient(
					90deg,
					#00e901 50%,
					rgba(0, 233, 1, 0) 100%
				);
			}
		}
		&.Toastify__toast--error {
			&::before {
				background: linear-gradient(
					90deg,
					#dc1745 50%,
					rgba(220, 23, 69, 0) 100%
				);
			}
		}
		&.Toastify__toast--info {
			&::before {
				background: linear-gradient(
					90deg,
					#1577dc 50%,
					rgba(21, 119, 220, 0) 100%
				);
			}
		}
		.Toastify__toast-body {
			padding: 0;
			.Toastify__toast-icon {
				display: none;
			}
		}
		.Toastify__close-button {
			color: #fff;
			opacity: 1;
			svg {
				height: 10px;
				width: auto;
			}
		}
		.Toastify__progress-bar--success {
			background: #00e901;
		}
		.Toastify__progress-bar--error {
			background: #dc1745;
		}
		.Toastify__progress-bar--info {
			background: #1577dc;
		}
	}
}

@media (max-width: 767px) {
	.container,
	.container-fluid,
	.container-xxl,
	.container-xl,
	.container-lg,
	.container-md,
	.container-sm {
		padding-left: 20px;
		padding-right: 20px;
	}
}
