.fn-game-filter {
	padding: 0 74px 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px #9e9e9e solid;
	color: #fff;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 500;
	line-height: 15px;
	.label {
		margin-right: 23px;
	}
	button {
		width: 24px;
		height: 24px;
		border-radius: 6px;
		border: 1px solid #9e9e9e;
		background-color: #2d3035;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		transition: all ease-in-out 0.3s;
		padding: 0;
        color: #9e9e9e;
        &:hover{
            color: #fff;
            border-color: #fff;
        }
		&.prev {
			margin-right: 13px;
		}
		&.next {
			margin-right: 10px;
			margin-left: 12px;
		}
	}
	input {
		width: 213px;
		height: 24px;
		border-radius: 3px;
		border: 1px solid #9e9e9e;
		background-color: #2d3035;
		text-align: center;
		transition: all ease-in-out 0.3s;
		color: #fff;
		font-family: Montserrat;
		font-size: 13px;
		font-weight: 500;
		line-height: 15px; /* 115.385% */
		text-transform: capitalize;
        outline: 0;
        &:focus{
            border-color: #fff;
        }
	}
	.date {
		margin-left: 13px;
	}
}
