.fn-stats {
	border-radius: 6px;
	border: 0.5px rgba(#9e9e9e, 0.5) solid;
	background-color: #291a3a;
	overflow: hidden;
	margin-top: 8px;
	.header {
		display: flex;
		align-items: center;
		padding: 10px 19px 0;
		border-bottom: 0.5px rgba(#9e9e9e, 0.5) solid;
		img {
			height: 26px;
			margin-right: 6px;
		}
		span {
			color: #fff;
			font-family: Montserrat;
			font-size: 24px;
			font-weight: 700;
			line-height: 14px; /* 70% */
			display: inline-flex;
			height: 42px;
			align-items: center;
		}
	}
	.body {
		table {
			width: 100%;
			margin: 0;
			thead {
				tr {
					th {
						color: #9e9e9e;
						font-family: Montserrat;
						font-size: 13px;
						font-weight: 500;
						line-height: 15px; /* 115.385% */
						text-transform: capitalize;
						padding: 9px 28px;
						border-bottom: 0.2px rgba($color: #9e9e9e, $alpha: 0.2) solid;
					}
				}
			}
			tbody {
				tr {
					td {
						color: #f5f5f5;
						font-family: Montserrat;
						font-size: 15px;
						font-weight: 500;
						line-height: 15px; /* 100% */
						text-transform: capitalize;
						padding: 9px 28px;
						border-bottom: 0.2px rgba($color: #9e9e9e, $alpha: 0.2) solid;
					}
				}
			}
			tfoot {
				border-radius: 0px 0px 6px 6px;
				background: conic-gradient(
					from 0deg at 50% 50%,
					#e22197 0deg,
					#9b1258 360deg
				);
				td {
					color: #fff;
					font-family: Montserrat;
					font-size: 20px;
					font-weight: 700;
					line-height: 14px; /* 70% */
					height: 42px;
					vertical-align: middle;
					padding: 3px 27px;
				}
			}
		}
	}
}
