.fn-faq-page {
	.fn-faq-page-inner {
		padding-top: 33px;
		padding-bottom: 81px;

		.inner-tabs {
			position: relative;
			border: 0;
			margin-bottom: 18px;
			margin-left: 50px;
			display: flex;
			column-gap: 60px;
			@media (max-width: 767px) {
				gap: 0;
				.nav-item {
					flex: 1;
				}
			}
			.nav-link {
				border: 0;
				padding: 23px 11px 17px 11px;
				color: #9e9e9e;
				font-family: Montserrat;
				font-size: 20px;
				font-weight: 500;
				line-height: 14px; /* 70% */
				border-bottom: 4px solid transparent;
				transition: all ease-in-out 0.3s;
				border-radius: 0;
				background-color: transparent !important;
				@media (max-width: 767px) {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10px;
					font-size: 11px;
					line-height: 14px; /* 127.273% */
					height: 26px;
					border-bottom-width: 1px;
					white-space: nowrap;
					color: #fff;
					width: 100%;
					border-radius: 3px 3px 0 0;
					&.active {
						background-color: #291a3a !important;
					}
				}
				&.active {
					color: #fff;
					font-weight: 700;
					border-color: #e22197;
				}
			}
		}

		.tab-content {
			.content {
				border-radius: 10px;
				border: 0.5px solid #9e9e9e;
				background: #17191b;
				padding: 44px 58px 42px 57px;

				@media (max-width: 575px) {
					padding: 15px 16px 12px 14px;
				}

				.accordion-item {
					border: none;
					margin-bottom: 10px;
					.accordion-header {
						.accordion-button {
							padding: 21px 25px;
							background: #2d3035;

							&::after {
								background-image: url('../../../public/images/icons/arrow.svg');
								background-size: 10px 10px;
								transition: all ease-in-out 0.3s;
							}

							.index {
								color: #9e9e9e;
								text-align: center;
								font-family: Montserrat;
								font-size: 15px;
								font-weight: 700;
								line-height: 15px; /* 115.385% */
								text-transform: capitalize;

								@media (max-width: 575px) {
									font-size: 13px;
								}
							}

							.title {
								color: #fff;
								font-family: Montserrat;
								font-size: 15px;
								font-weight: 700;
								line-height: 15px; /* 100% */
								text-transform: capitalize;
								margin-left: 32px;

								@media (max-width: 575px) {
									font-size: 13px;
									margin-left: 12px;
								}
							}
						}

						.accordion-button[aria-expanded='true'] {
							&::after {
								transform: rotate(90deg) translateY(50%);
							}
						}
					}

					.accordion-body {
						background: #2d3035;
						color: #fff;
						font-family: Montserrat;
						font-size: 15px;
						font-weight: 500;
						line-height: 23px; /* 153.333% */
						text-transform: capitalize;
						padding: 20px 25px 10px 50px;

						label {
							text-decoration: underline;
							cursor: pointer;
							transition: all ease-in-out 0.3s;
							&:hover {
								opacity: 0.8;
							}
						}
					}
				}
			}
		}
	}
}
